.gridContainerClass {
    padding: 1px 1px 1px 1px;
    display: flex;
    background: green;
    height: 800px;
    width: 800px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex: 1 1 0%;
}

.gridBox {
    background: white;
    -webkit-box-shadow:inset 0px 0px 0px 10px #FFFFFF;
    -moz-box-shadow:inset 0px 0px 0px 10px #000000;
    box-shadow:inset 0px 0px 0px 10px #000000;
    height: 25%;
    width: 25%;
}
